body {  
    color: white;
    background-color: rgb(33, 37, 41);
}

main {
    background-color: rgb(26, 41, 58);
}

.dropdown-menu .dropdown-item {
    background-color: rgb(61, 68, 80);
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: white;
    color: black;
}

.btn-group .btn, 
#dropdownMenuButton {
    color: rgb(197, 195, 194);
    padding-left: 11px;
    font-size: 11px;
}

.btn-group .btn:hover, 
#dropdownMenuButton:hover {
    color: white;
}

.vertical-line {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 13px;
    align-self: center;

    padding: 0px;
    margin: 0px;
}

.offcanvas {
    padding: 0px;
    margin: 0px;
}

.offcanvas-body {
    padding: 0px;
    margin: 0px;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 0.75rem;
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-item {
    width: 80%;
    height: 30%;
    background-color: rgb(11, 21, 30);
}

.carousel-buttons {
    padding-bottom: 20px;
}

.carousel-buttons button {
    background-color:rgb(77, 101, 123);
    border: 0px;
    border-radius: 2px;
    width: 20px;
    height: 10px; 
    margin: 0 2px;
}

.carousel-buttons button:hover,
.carousel-buttons button.active:hover {
    background-color: rgb(100, 120, 140);
}

#search-navbar {
    border-radius: 10px;
    background-color: rgba(26, 56, 126, 0.9);
}

#navbarNav .navbar-nav .nav-item .nav-link {
    color: white;

}

#offcanvasLeft {
    color: white;
    background-color: rgb(23, 26, 33);
}

#header-menu a {
    font-weight: 600;
    font-size: 16px;
    margin: 0px;

    padding: 3px;
}

#header-button {
    margin-top: 10px;
    padding-left: 40px;
}

#download-button {
    color: rgb(240, 240, 240);
    background-color: rgb(92, 126, 16);
    border-radius: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding-top: 0px;
    padding-bottom: 0px;

    padding-right: 8px;
    padding-left: 8px;
}

#download-button:hover {
    color: white;
    background-color: rgb(108, 144, 24);
}

.main-button {
    padding: 10px;
    padding-left: 20px;
    margin: 0px;
    text-align: left;
    font-size: 22px;
    width: 100%;



    border-style: solid;
    border-color: black;
    border-radius: 0px;
    border-width: 1px;

    background-color: rgb(23, 26, 33);
    color: rgb(189, 189, 189);
}

.main-button:hover {
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    border-width: 1px;  
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#secondary-button {
    padding: 5px;
    padding-left: 20px;
    margin: 0px;
    text-align: left;
    font-size: 16px;
    width: 100%;
    border: none;

    background: none;
    color: rgb(131, 128, 132);
}

#copyright-hamburger {
    font-size: 11px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(131, 128, 132);  
}

.bottom_aligner {
    position: absolute;
    bottom: 0;
    left: 0;
}